/* default colorMode is light */
/* TODO: delete🔥 unused css variable */
:root {
  --primary: #e3e3e3;
  /* this value will auto get by icssTextColor */
  --secondary: hsl(48, 100%, 63%);
  --ternary: #e4e600;

  --app-bg: #f2f4f9;
  --app-panel-bg: #f2f4f9;
  --card-bg: #fffc;
  --cyber-card-bg: linear-gradient(140.14deg, rgba(0, 182, 191, 0.15) 0%, rgba(27, 22, 89, 0.1) 86.61%),
    linear-gradient(321.82deg, #18134d 0%, #1b1659 100%);

  /* text */
  --text-primary: #0b1022;
  --text-secondary: #474abb;
  --text-ternary: #474abb99;
  --text-link: #22d1f8;
  --text-revert-primary: hsl(from var(--text-primary) h s calc(100 - l) / 0.8);
}

:root.dark {
  --primary: hsl(210, 15%, 90%);
  /* this value will auto get by icssTextColor */
  --secondary: hsl(257, 41%, 35%);
  --ternary: color-mix(in srgb, var(--secondary), dodgerblue 40%);

  /* text */
  --text-primary: color-mix(in srgb, var(--primary), white 60%);
  --text-secondary: color-mix(in srgb, var(--secondary), white 60%);
  --text-ternary: #abc4ff88;

  --text-link: #22d1f8;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/hsl */

  /* list */
  --list-item-bg: #141041;

  --app-bg: #242528;
  --app-panel-bg: #121314;
  --card-bg: #2b2f34;

  --app-main-bg__01: hsl(244, 20%, 2%);
  --app-main-bg__02: hsl(246, 5%, 13%);
}
